body {
  font-family: Arial, sans-serif;
  background-color: #0a2e49dc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: rgba(79, 147, 195, 0.589);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

#task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#task-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#task-list {
  list-style-type: none;
  padding: 0;
}

#task-list li {
  padding: 10px;
  border-bottom: 1px solid #68d9ffaf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list li.completed {
  text-decoration: line-through;
  color: rgb(255, 255, 255);
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}